.main-image {
    width: 580px;
    height: 340px;
    border-radius: 5px;
}

.sub-image-1 {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.top-block {
    background: #1F2937;
    color: white;
    display: flex;
    flex-flow: column;
    padding-top: 12px;
}

.header {
    font-size: 24px;
    font-weight: 700;
}

.header-block {
    display: flex;
    flex-flow: row;
    /* border: 2px red solid; */
    background: #1F2937;
    padding-bottom: 100px;
    margin: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.top-block-display {
    margin: auto auto;
    display: flex;
    gap: 50px;
    padding-bottom: 100px;
    width: 1000px;
    /* border: red 2px solid; */
    align-items: center;
}

.links-list {
    list-style: none;
    display: flex;
    gap: 24px;

}

.links-list a {
    text-decoration: none;
    color: white;
}

.top-block-text {
    width: 300px;
    margin-bottom: 16px;
}

.text-block-top {
    display: flex;
    flex-flow: column;
    /* border: red 2px solid; */
    width: 400px;
}

.sign-up {
    background: #3882F6;
    color: white;
    border-radius: 5px;
    width: 120px;
    padding: 7px 7px;
    font-weight: 700;
}
.sign-up:hover {
    color: black;
    background: white;
}

.text-block-top-header {
    justify-self: flex-start;
    width: 340px;
}

.information-block {
    display:flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.images-block {
    /* border: 2px red solid; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    padding-bottom: 100px;
}

.sub-1, .sub-2, .sub-3, .sub-4 {
    /* border: green 2px solid; */
    width: 200px;
    display: flex;
    flex-flow: column;
}

.sub-1, .sub-2, .sub-3, .sub-4  div {
    text-align: center;
}

.quote-block {
    background: #E5E7EB;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}

.quote {
    display: flex;
    flex-flow: column;
    width: 690px;
}

.quote-text {
    font-size: 32px;
    color: #1F2937;
    font-weight: 300;
}

.quotee {
    font-size: 20px;
    font-weight: 700;
    align-self: flex-end;
}

.bottom-block {
    flex: display;
}